<h3>View Activity Information</h3>
<!-- <p>Find me in app/views/activities/show.html.erb</p> -->
<p id="notice"><%= notice %></p>
</br>

<p>
  <strong>Name of Activity:</strong>
  <%= @activity.activity_name %>
</p>

<div class="row-fluid">
  <div class="span4">
    <p>
    <strong>Activity Start Date:</strong>
    <%= @activity.activity_start_date.strftime("%B-%d-%Y") %>
    </p>
  </div>

    <div class="span4">
      <p class="pull-right">
        <strong>Activity End Date:</strong>
        <%= @activity.activity_end_date.strftime("%B-%d-%Y") %>
      </p>
    </div>
</div>

<div class="row-fluid">
  <div class="span4">
    <p>
      <strong>Activity Start time:</strong>
      <%= @activity.activity_start_time.strftime("%I:%M %p") %>
    </p>
  </div>

  <div class="span4">
    <p class="pull-right">
      <strong>Activity End time:</strong>
      <%= @activity.activity_end_time.strftime("%I:%M %p") %>
    </p>
  </div>
</div>

</br>
<h3> Location of Activity - Address </h3>
</br>
<p>
  <strong> Street Address:</strong>
  <%= @activity.address_street%>
</p>
<div class="clear"></div>

<p>
  <strong> City:</strong>
  <%= @activity.address_city%>
</p>

<p>
  <strong> Zipcode:</strong>
  <%= @activity.address_zipcode%>
</p>

<p>
  <strong> State:</strong>
  <%= state_name(@activity.address_state)%>
</p>

<p>
  <strong> Activity Contact Phone Number :</strong>
  <%= @activity.phone_number%>
</p>

<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'Back', activities_path %>
